.git
.gitignore
.DS_Store
*.md
.idea
.vscode
.cursor
.codex

backend/vendor
backend/node_modules
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/.env
backend/.phpunit.cache

frontend/node_modules
frontend/dist
frontend/.env
